@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html,body{
    height: 100%;
}

div.container{
    max-width: 1460px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
}

/* HEADER */

.flex-header{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.flex-header  .menu-desktop ul li{
    display: inline-block;
    padding: 5px 20px;
}

.flex-header  .menu-desktop ul li a{
    text-transform: uppercase;
    color: #b4b4b4;
    text-decoration: none;
    font-size: 14px;
    transition: 0.2s;
}

.flex-header  .menu-desktop ul li a:hover{
    color: #000000;
}

.flex-header  .menu-mobile{
    display: none;
}

/*********/


/* sessao-1 */

.flex-mosaico{
    display: flex;
    padding-top: 15px;
}

.flex-mosaico  .mosaico-single{
    width: calc(100% / 6);
}

.flex-mosaico  .mosaico-item{
    border: 5px solid white;
    padding-top: 100%;
    background-color: #ccc;
}

/*********/


/* sessao-2 */

.flex-section-2{
    display: flex;   
    justify-content: center;
    text-align: center;
    align-items: center;
}

.flex-section-2  .conteudo{
    background-color: #576975;
    padding: 30px 10px 10px 10px;
    color: white;
    max-width: 250px;
    position: relative;
    top: -30px;
}

.flex-section-2  .conteudo h2{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: normal;
}

.flex-section-2  .conteudo p{
    padding-top: 10px;
    font-size: 12px;
}

.flex-section-2  .conteudo img{
    margin-top: 8px;
}

.flex-section-2  .conteudo:nth-last-of-type(2){
    padding: 50px 20px;
    max-width: 320px;
    background-color: #688293;
}

/*********/